body{
    width:1400px;
    margin-left:auto;
    margin-right:auto;
}


.plus-jakarta-sans-600 {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight:600;
    font-style: normal;
  }

  /* navbar section start */
.navbar{
    display: flex; 
    justify-content:space-around;
    align-items: center;

}

.nav-item{
    list-style-type: none;
    display: flex;
    gap:30px;
    color:#475569;

}
.logo{
    display:flex;
    align-items: center;
}

.logo-icon{
   padding:10px;
   color:white;
    background-color:#4B0082;
    border-radius:40%;
    margin-right:4px;

}

button{
    padding:10px;
    border: 2px solid rgb(157, 159, 158);
    border-radius: 30px;
    font-weight:600;
    background-color: #e7e7e7;
     color:rgb(59, 62, 61);
     transition-duration: 0.4s;
}
button:hover {
    background-color:rgb(118, 4, 170); / 
    color:#0000;
  }
/* navbar end */

/* Banner section start */

.primary-header{
    font-size: 51px;
    color: #1e293b;
}
.secondary-header{
    color: #625ce8;
    background: #daddfc;
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom:10px;
    border-radius: 50px;
    font-size: xx-small;
}
.banner-area{
    padding-top:10px;
    height:1200px;
    

  
    background-image: url('asset/bg.jpg');
}
.banner{
    place-items: center;
}

.banner-content{
    width: 63%;
    text-align: center;
    justify-items: center;
    padding-bottom: 100px;
}
.description{
    color: #8a94a1;
}
.icon{
    display:flex;
    background-color:black;
    color:white;
    align-items: center;
}
.banner-btn{
    margin-top:50px;
}
.flex{display:flex;}
/* Banner section end */